<% provide(:title, 'All Teams') %>
<h1>All Teams</h1>

<table class="table table-striped">
	<thead>
		<th>Name</th>
		<th>Team Members</th>
		<th>Searches</th>
	</thead>

	<tbody>
		<%= render @groups %>
	</tbody>
</table>