<% provide(:title, 'All Users') %>
<h1>All Associates</h1>
<table class="table table-striped">
	<thead>
		<th>Name</th>
		<th>Email</th>
		<th>Searches</th>
		<th>Team</th>
		<th></th>
	</thead>

	<tbody>
		<%= render @associates %>
	</tbody>
</table>